.WelcomeCoinList {
	width: 100%;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
    padding: 50px;
    gap: 50px;
    /* background-color: #FAF8F1; */
}

.WelcomeCoinListCoins{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.WelcomeCoinListText{
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
