.ChartComponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 50px;
  position: relative;
}

.chartContainer {
  width: 100%;
  height: 100%;
}

.Chart {
  overflow: hidden;
}

.ChartsFiltersAndCoinsGraphTypePrice{
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
}

@media only screen and (max-width: 768px) {
  .ChartComponent {
    padding: 0;
  }
}