.Header {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 50px;
    background-color: var(--color2);
    /* background-color: #6B1570; */
}

.authDiv {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.authDiv button {
    background-color: transparent;
    color: white;
}

.HeaderHeading {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.HeaderHeading img{
    width: 300px;
}